
.projects-wrapper {
  padding: 60px 20px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}


.projects-title-box {
  text-align: center;
  margin-bottom: 60px;
  padding: 0 10px;
}

.projects-title-box h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.projects-title-box p {
  color: #aaa;
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0 auto;
}

.projects-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr)); 
  gap: 50px;
  width: 100%;
}


@media screen and (max-width: 768px) {
  .projects-wrapper {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects-title-box h1 {
    font-size: 2rem;
  }
  
  .projects-grid-container {
    gap: 20px;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}